@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&family=Mooli&display=swap');
@media screen and (min-width: 80rem) {
    .main_div {
      margin: 1em 2em;
    }
  }
*,*::before,*::after{
    margin: 0;
    padding: 0%;
    box-sizing:border-box;
}
html{
    font-size: 10px;
    font-family: 'Mooli', sans-serif;
    background-color: aquamarine;
}
.name{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    background-color: aliceblue;
}
.main_div{
    height: 90vh;
    width: 100;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    margin-top:1rem;
}
.music_container{
    width: 35rem;
    height: 55rem;
    background-color: azure;
    border-radius: 2rem;
    box-shadow: 0 1rem 4rem 0.5rem rgba(0,0,0,0.5);
    padding: 2.5rem;
    text-align: center;
}
.music_container #title{
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    word-spacing: 0.5rem;
    color:black;
    margin: 2rem 0 0.5rem 0;
    font-size: 2rem;
    font-weight: 500;
    text-shadow: 0 0.4rem 0.6rem rgba(0,0,0,0.3);
}
.music_container #singer{
    text-transform: capitalize;
    letter-spacing: 0.3rem;
    word-spacing: 0.5rem;
    color:black;
    margin: 0.5rem 0 0.5rem 0;
    font-size: 1.5rem;
    font-weight: 500;
    text-shadow: 0 0.4rem 0.6rem rgba(0,0,0,0.3);   
}
.img_container{
    width: 25rem;
    height: 25rem;
    margin: auto;
}
img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 1.2rem 3rem 0.6rem rgba(0,0,0,0.3);
}
.music_controls .fas{
    color: black;
    font-size: 2rem;
    cursor:pointer;
    filter: drop-shadow(1.2rem 1.3rem 0.5rem rgba(0,0,0,0.4));
}
.music_controls{
    display: flex;
    width: 20rem;
    justify-content: space-between;
    margin:auto;
    margin-top:5rem;
    align-items: center;
}
.music_controls .main_button{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: aquamarine;
    color:black;
    font-size:1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.music_controls .fa-play:hover{
    background-color: aliceblue;
    color:aqua;
    box-shadow: 0 1.2rem 3rem 0.6rem rgba(0,0,0,0.3);
}
.music_controls .fas:hover{
    color: aqua;
}

/*---------------------------------------------------------------------------------*/
.progressbar_container{
    width: 100%;
    height: auto;
    padding: 1rem 0;
    margin-top:1rem;
}
.progress_div{
    width: 100%;
    height: 0.5rem;
    box-shadow: 0 1px 2px rgba(0,0,0,0.7),0 2px 4px rgba(0,0,0,0.7),
    0 4px 8px rgba(0,0,0,0.7),0 8px 16px rgba(0,0,0,0.7),0 16px 32px rgba(0,0,0,0.7), 0 32px 64px rgba(0,0,0,0.7);
    border-radius: 4rem;
    position: relative;
    margin-top: 0.5rem;
    /* transition: width 1s linear;
    -moz-transition: width 1s linear;
    -o-transition: width 1s linear;
    -webkit-transition: width 1s linear; */
    cursor: pointer;
    appearance: none;
}
.progress{
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: black;
    border-radius: 4rem;
    margin-top: 0.5rem;
    /* transition: width 1s linear;
    -moz-transition: width 1s linear;
    -o-transition: width 1s linear;
    -webkit-transition: width 1s linear; */
    cursor: pointer;
    appearance: none;
    margin-top: -0.0rem;
}
.progress_duration_meter{
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
}
